# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Production builds
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*

# Editor & System Files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sw?